/* src/app/auth/login/login.component.scss */

// body {
//   //background-image: url('/assets/images/background1.jpg'); /* Imagen de fondo del login */
//   background-size: cover;
//   background-position: center;
//   margin: 0;
//   padding: 0;
//   height: 100vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   z-index: 1;
// }

.login-container {
  //background-image: url('/assets/images/background1.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.login-box {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2rem;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  color: #fff;
  text-align: center;
}

.logo {
  width: 120px;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: #E50914; /* Rojo Netflix */
  text-transform: uppercase;
}


// .logo a {
//   font-size: 2rem;
//   font-weight: 700;
//   color: #E50914; /* Rojo Netflix */
//   text-transform: uppercase;
// }

form {
  display: flex;
  flex-direction: column;
  align-items: center;

  label {
    align-self: flex-start;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
  }

  input {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    font-size: 1rem;
  }

  .remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    input {
      margin-right: 0.5rem;
    }
  }

  .forgot-password {
    color: #e50914;
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
    align-self: flex-start;
  }

  .login-button {
    background-color: #e50914;
    padding: 0.75rem 1.5rem;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 1rem;

    &:hover {
      background-color: #f40612;
    }
  }
}

.register-link {
  font-size: 0.9rem;

  a {
    color: #e50914;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.social-login {
  margin-top: 1.5rem;

  p {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }

  .social-button {
    border: none;
    background-color: #333;
    color: #fff;
    font-size: 1.5rem;
    width: 50px;
    height: 50px;
    margin: 0 0.5rem;
    border-radius: 50%;
    cursor: pointer;

    &.google {
      background-color: #db4437;
    }

    &.apple {
      background-color: #000;
    }

    &.facebook {
      background-color: #4267B2;
    }
  }

  /* Estilos para el botón de Google */
.google-button {
  border: none;
    background-color: #fff;
    color: #fff;
    font-size: 1.5rem;
    width: 50px;
    height: 50px;
    margin: 0 0.5rem;
    border-radius: 50%;
    cursor: pointer;
   align-items: center;
   justify-content: center;
  // padding: 0.75rem;
  // background-color: #ffffff;
  // border: none;
  // border-radius: 5px;
   font-size: 1rem;
  // color: #000;
  // cursor: pointer;
  // margin-top: 1rem;

  img {
    width: 35px;
    // margin-right: 0.5rem;
  }

  &:hover {
    background-color: #f1f1f1;
  }
}
}


