/* src/app/auth/register/register.component.scss */

// .register-container {
//     max-width: 400px;
//     margin: 2rem auto;
//     padding: 2rem;
//     background-color: #f5f5f5;
//     border-radius: 5px;
  
//     h2 {
//       text-align: center;
//       margin-bottom: 1.5rem;
//     }
  
//     label {
//       display: block;
//       margin-bottom: 0.5rem;
//       color: #212121;
//     }
  
//     input[type='text'],
//     input[type='email'],
//     input[type='password'],
//     input[type='date'] {
//       width: 100%;
//       padding: 0.5rem;
//       margin-bottom: 1rem;
//       border: 1px solid #ccc;
//       border-radius: 3px;
//     }
  
//     .checkbox-container {
//       display: flex;
//       align-items: center;
//       margin-bottom: 1rem;
  
//       input[type='checkbox'] {
//         margin-right: 0.5rem;
//       }
  
//       label {
//         margin: 0;
//       }
//     }
  
//     button {
//       width: 100%;
//       padding: 0.75rem;
//       background-color: #1e88e5;
//       color: #fff;
//       border: none;
//       border-radius: 3px;
//       font-size: 1rem;
//       cursor: pointer;
//     }
  
//     p {
//       text-align: center;
//       margin-top: 1rem;
//     }
//   }



  /* src/app/auth/register/register.component.scss */

// body {
//   background-image: url('assets/images/background-login.jpg'); /* Imagen de fondo */
//   background-size: cover;
//   background-position: center;
//   margin: 0;
//   padding: 0;
//   height: 100vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.register-box {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2rem;
  border-radius: 8px;
  max-width: 450px;
  width: 100%;
  color: #fff;
}

h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.checkbox-container {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    
        input[type='checkbox'] {
          margin-right: 0.5rem;
        }
    
        label {
          margin: 0;
        }
      }

form {
  display: flex;
  flex-direction: column;

  .form-group {
    margin-bottom: 2rem;

    label {
      font-size: 0.9rem;
      margin-bottom: 0.5rem;
      display: block;
    }

    input {
      width: 100%;
      padding: 0.75rem;
      border: none;
      border-radius: 4px;
      background-color: #333;
      color: #fff;
      font-size: 1rem;
    }
  }

  .terms {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;

    input {
      margin-right: 0.5rem;
    }

    a {
      color: #e50914;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .register-button {
    background-color: #e50914;
    padding: 0.75rem 1.5rem;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 1rem;

    &:hover {
      background-color: #f40612;
    }
  }
}

.login-link {
  font-size: 0.9rem;
  text-align: center;

  a {
    color: #e50914;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

  