/* src/app/shared/components/navbar/navbar.component.scss */

.navbar {
  background-color: #141414; /* Fondo negro */
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo a {
      font-size: 2rem;
      font-weight: 700;
      color: #E50914; /* Rojo Netflix */
      text-transform: uppercase;
    }

    .search-bar {
      display: flex;
      align-items: center;

      input {
        padding: 0.5rem;
        background-color: #333;
        color: #fff;
        border: none;
        border-radius: 3px 0 0 3px;
        width: 200px;
      }

      button {
        background-color: #E50914;
        border: none;
        padding: 0.5rem;
        border-radius: 0 3px 3px 0;
        cursor: pointer;
        color: #fff;

        mat-icon {
          font-size: 1.2rem;
        }
      }
    }

    .nav-links {
      display: flex;
      align-items: center;

      a {
        color: #fff;
        margin: 0 1rem;
        font-size: 1rem;
        &:hover {
          color: #E50914;
        }
      }

      button {
        color: #fff;
        margin-left: 1rem;
      }
    }
  }
}
