/* src/app/login/login.component.css */
.logo {
    display: block;
    margin: 0 auto 20px;
    max-width: 150px;
  }
  
  .social-btn {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    font-size: 18px;
  }
  
  .social-btn.google {
    background-color: #db4437;
  }
  
  .social-btn.apple {
    background-color: #333;
  }
  
  .social-btn.facebook {
    background-color: #3b5998;
  }
  
  .social-btn:hover {
    opacity: 0.8;
  }

  .google-btn {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #555555;
    transition: background-color 0.3s, box-shadow 0.3s;
    color: #fff;
  }

  .divSocialLogin{
    display: flex; /* Activa Flexbox */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
  }
  
  .google-btn:hover {
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .google-logo {
    width: 20px; /* Ajusta el tamaño del logo */
    height: 20px;
  }
  
  